/*--GOOGLE FONTS--*/    
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&family=Oswald&family=Rubik:wght@400;500;600&display=swap');

:root {
    /*--COLORS--*/ 
    --header-height: 3.5rem;
    --hue: 14;
    --first-color: hsl(var(--hue),100%,70%);
    --first-color-alt: hsl(var(--hue),56%,35%);
    --title-color:hsl(240, 35%, 92%);
    --text-color:hsl(231, 79%, 76%);
    --body-color:hsl(231, 11%, 35%);
    --container-color:hsl(233,15%,15%);

    /*--FONT and typography--*/
    --body-font: 'Kanit', sans-serif;
    --title-font: 'Oswald', sans-serif;
    --alt-font: 'Rubik', sans-serif;
    --biggest-font-size: 2rem;
    --bigger-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-fontsize: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*--FONT weight--*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*--Z index--*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*--Responsive typography--*/
@media screen and (min-width: 1152px) {
    :root {
        --biggest-font-size: 2rem;
        --bigger-font-size: 1.25rem;
        --h1-font-size: 1.5rem;
        --h2-fontsize: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}

/*--BASE--*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

input,
textarea,
button,
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

input,
textarea,
button {
    outline: none;
    border: none;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
svg {
    max-width: 100%;
}

/*--Reusable css classes--*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 2rem;
}

.section--title,
.section--subtitle {
    text-align: center;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.section--title {
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
}

.section--subtitle {
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}

.section--subtitle span {
    color: var(--first-color);
}

.main {
    overflow: hidden;
}

.main .image img {
    border-radius: 30%;
    opacity: 0;
    border: 5px solid rgb(129, 154, 80);
    animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*--HEADER AND NAV--*/
.element-header {
    position: fixed;
    width: 100%;
    background-color: rgba(82, 29, 131, 0.5);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav--logo span {
    color: var(--first-color);
}

.nav--close,
.nav--toggle {
    display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
    .nav--menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 62%;
        height: 100%;
        padding: 4.5rem 0 0 3rem;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        transition: right .4s;
        background-color: hsl(233deg 15% 15% / 19%);
        height: 327px;
    }
}

.nav--list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav--link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: color .4s;
}

.nav--link:hover {
    color: var(--first-color);
}

.nav--close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Show menu */
.show-menu {
    right: 0;
}

/* HOME */
.home {
    background-color: var(--body-color);
}

.home--container {
    padding-top: 2rem;
    row-gap: 2.5rem;
}

.home--content {
    display: grid;
    row-gap: 2rem;
}

.home--data {
    text-align: center;
}

.animation {
    height: 50px;
    overflow: hidden;
    margin-left: 1rem;
}

.animation > div > div {
    padding: 0.25rem 0.75rem;
    height: 60px;
    margin-bottom: 2.81rem;
    display: inline-block;
}

.animation div:first-child {
    animation: text-animation 8s infinite;
}

.first div {
    color: #20a7d8;
    font-size: 20px;
}

.second div {
    color: #CD921E;
    font-size: 20px;
}

.third div {
    color: #ccaab0;
    font-size: 20px;
}

@keyframes text-animation {
    0% { margin-top: 0; }
    10% { margin-top: 0; }
    20% { margin-top: -5.62rem; }
    30% { margin-top: -5.62rem; }
    40% { margin-top: -11.24rem; }
    60% { margin-top: -11.24rem; }
    70% { margin-top: -5.62rem; }
    80% { margin-top: -5.62rem; }
    90% { margin-top: 0; }
    100% { margin-top: 0; }
}

.home--subtitle,
.home--education {
    font-size: var(--bigger-font-size);
}

.home--subtitle span,
.home--title {
    color: var(--first-color);
}

.home--title {
    font-size: var(--bigger-font-size);
    font-weight: var(--font-semi-bold);
}

.home--description {
    margin-block: 1rem 1.5rem;
}

.home--social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.home--social-link {
    display: flex;
    background-color: var(--first-color-alt);
    padding: .5rem;
    color: var(--title-color);
    font-size: 1.5rem;
    border-radius: 50%;
    transition: transform .4s;
}

.home--social-link:hover {
    transform: translateY(-.35rem);
    color: var(--first-color);
}

.home--image {
    justify-self: center;
}

.home--blob {
    width: 320px;
    fill: var(--first-color);
    filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, .2));
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    padding: 1rem 1.75rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    border-radius: 2rem;
    transition: box-shadow .4s;
}

.button:hover {
    box-shadow: 0 8px 25px hsla(var(--hue), 100%, 70%, .2);
}

/*-- MEDIA QUERIES--*/
/* For large devices */
@media screen and (min-width: 968px) {
    .container {
        margin-inline: auto;
    }

    .grid {
        gap: 2rem;
    }

    .section--title {
        font-size: var(--biggest-font-size);
    }

    .section--subtitle {
        margin-bottom: 1rem;
    }

    .element-header {
        padding: 0 1rem;
    }

    .nav--menu {
        margin-left: auto;
    }

    .nav--list {
        flex-direction: row;
        column-gap: 4rem;
    }

    .nav--toggle {
        display: none;
    }

    .home--container {
        padding-top: 6.5rem;
        column-gap: 5rem;
    }

    .home--data {
        text-align: initial;
    }

    .home--title {
        font-size: var(--biggest-font-size);
    }

    .home--subtitle {
        font-size: var(--h1-font-size);
    }
}
